*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #283048, #859398);
    background-size: cover;
    height:100vh;
    background-position: center;
}

.search-section{
    width: 80%;
    position: relative;
    top: 30px;
    color: aliceblue;
    background-color: rgba(226, 227, 237, 0.8);
    margin: auto;
    height:50px;
    padding: 5px;
    border-radius: 50px;
}

.search-section input{
    background-color: transparent;
    border: none;
    color: rgb(58, 61, 64);
    height: 40px;
    font-size: 18px;
    outline: none;
    padding: 10px;
    width: 95%;
}

.search-section button{
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: rgb(118, 136, 141);
    position: absolute;
    right: 30px;
    top: 15px;
}

.search-section button:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: azure;
}


.result-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: auto;
    width: 80%;
    gap: 1rem;
}


.result-section img{
    height: 150px;
    width: 150px;
    margin-top: 100px;
} 


.result-temp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp{
    font-size: 42px;
    margin-top: 50px;
    font-weight: 800;
}

.result-other{
    display: flex;
    gap: 4rem;
    text-align: center;
}




@media screen and (max-width:480px){
    .search-section{
        height: 50px;
    }


    .search-section button{
        font-size: 25px;
        top: 12px;
    }

    .result-section img{
        height: 100px;
        width: 100px;
        margin-top: 100px;
    } 

    .temp{
        font-size: 28px;
    }

    .city-name{
        font-size: 16px;
    }

    .temp-desc{
        font-size: 12px;
    }

    .result-other img{
        height: 80px;
        width: 80px;
    }
    
}
